<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.serviceMarket.mapper.StateMapper" >
  <resultMap id="BaseResultMap" type="com.serviceMarket.pojo.State" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="helper_table_id" property="helperTableId" jdbcType="INTEGER" />
    <result column="helper_id" property="helperId" jdbcType="INTEGER" />
    <result column="user_accept_state" property="userAcceptState" jdbcType="INTEGER" />
    <result column="arrive_state" property="arriveState" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="arrive_time" property="arriveTime" jdbcType="TIMESTAMP" />
    <result column="appraise" property="appraise" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, helper_table_id, helper_id, user_accept_state, arrive_state, create_time, arrive_time, 
    appraise
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.serviceMarket.pojo.StateExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from state
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from state
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from state
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.serviceMarket.pojo.StateExample" >
    delete from state
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.serviceMarket.pojo.State" >
    insert into state (id, helper_table_id, helper_id, 
      user_accept_state, arrive_state, create_time, 
      arrive_time, appraise)
    values (#{id,jdbcType=INTEGER}, #{helperTableId,jdbcType=INTEGER}, #{helperId,jdbcType=INTEGER}, 
      #{userAcceptState,jdbcType=INTEGER}, #{arriveState,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{arriveTime,jdbcType=TIMESTAMP}, #{appraise,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.serviceMarket.pojo.State" >
    insert into state
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="helperTableId != null" >
        helper_table_id,
      </if>
      <if test="helperId != null" >
        helper_id,
      </if>
      <if test="userAcceptState != null" >
        user_accept_state,
      </if>
      <if test="arriveState != null" >
        arrive_state,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="arriveTime != null" >
        arrive_time,
      </if>
      <if test="appraise != null" >
        appraise,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="helperTableId != null" >
        #{helperTableId,jdbcType=INTEGER},
      </if>
      <if test="helperId != null" >
        #{helperId,jdbcType=INTEGER},
      </if>
      <if test="userAcceptState != null" >
        #{userAcceptState,jdbcType=INTEGER},
      </if>
      <if test="arriveState != null" >
        #{arriveState,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="arriveTime != null" >
        #{arriveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="appraise != null" >
        #{appraise,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.serviceMarket.pojo.StateExample" resultType="java.lang.Integer" >
    select count(*) from state
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update state
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.helperTableId != null" >
        helper_table_id = #{record.helperTableId,jdbcType=INTEGER},
      </if>
      <if test="record.helperId != null" >
        helper_id = #{record.helperId,jdbcType=INTEGER},
      </if>
      <if test="record.userAcceptState != null" >
        user_accept_state = #{record.userAcceptState,jdbcType=INTEGER},
      </if>
      <if test="record.arriveState != null" >
        arrive_state = #{record.arriveState,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.arriveTime != null" >
        arrive_time = #{record.arriveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.appraise != null" >
        appraise = #{record.appraise,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update state
    set id = #{record.id,jdbcType=INTEGER},
      helper_table_id = #{record.helperTableId,jdbcType=INTEGER},
      helper_id = #{record.helperId,jdbcType=INTEGER},
      user_accept_state = #{record.userAcceptState,jdbcType=INTEGER},
      arrive_state = #{record.arriveState,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      arrive_time = #{record.arriveTime,jdbcType=TIMESTAMP},
      appraise = #{record.appraise,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.serviceMarket.pojo.State" >
    update state
    <set >
      <if test="helperTableId != null" >
        helper_table_id = #{helperTableId,jdbcType=INTEGER},
      </if>
      <if test="helperId != null" >
        helper_id = #{helperId,jdbcType=INTEGER},
      </if>
      <if test="userAcceptState != null" >
        user_accept_state = #{userAcceptState,jdbcType=INTEGER},
      </if>
      <if test="arriveState != null" >
        arrive_state = #{arriveState,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="arriveTime != null" >
        arrive_time = #{arriveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="appraise != null" >
        appraise = #{appraise,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.serviceMarket.pojo.State" >
    update state
    set helper_table_id = #{helperTableId,jdbcType=INTEGER},
      helper_id = #{helperId,jdbcType=INTEGER},
      user_accept_state = #{userAcceptState,jdbcType=INTEGER},
      arrive_state = #{arriveState,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      arrive_time = #{arriveTime,jdbcType=TIMESTAMP},
      appraise = #{appraise,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>